// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';

@import "../../../design-tokens/tokens.scss";


.button {
  padding: $letter-spacing-m $spacing-m;
  border-radius: $border-radius-m;
  font-size: $font-size-m;
  font-family: $web-font-family;
  cursor: pointer;
  &.sm {
    padding: $letter-spacing-s $spacing-s;
    font-size: $font-size-s;
  }
  &.lg {
    padding: $letter-spacing-l $spacing-l;
    font-size: $font-size-l;
  }
  color: $b300;
  border-color: $b300;
  &.primary {
    color: $n100;
    background-color: $b300;
    border-color: $b300;
    &:hover {
      color: $n100;
      background-color: $b400;
      border-color: $b400;
    }
    &:focus {
      color: $n100;
      background-color: $b500;
      border-color: $b500;
    }
    &:active {
      color: $n100;
      background-color: $b600;
      border-color: $b600;
    }
  }
  &:hover {
    color: $b400;
  }
  &:focus {
    color: $b500;
  }
  &:active {
    color: $b600;
  }
  &.disabled {
    cursor: not-allowed;
  }
}