// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';

@import "../../../design-tokens/tokens.scss";

.inputWrap {
  .label {
    margin-right: 5px;
  }
  &.inLine {
    display: inline-flex;
  }
  .input {
    border: solid 1px $b200;
    &:hover {
      border: solid 1px $b300;
    }
    &:focus {
      border: solid 1px $b400;
    }

    &.disabled {
      cursor: not-allowed;
      border: solid 1px $b200 !important;
    }

  }
}